In [7]:
#importar biblioteca pandas
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/datasets/Gapminder.csv", error_bad_lines=False, sep =";")

In [ ]:
df.head() ##Retorna as primeiras linhas

In [23]:
df.shape ##Total de linhas e colunas
df.columns ##Retorna o nome das colunas
df.dtypes ##Retorna o tipo por coluna
df.tail() ##Retorna as ultimas linhas da tabela

       country continent  year  lifeExp       pop   gdpPercap
3307  Zimbabwe    Africa  1987   62.351   9216418  706.157306
3308  Zimbabwe    Africa  1992   60.377  10704340  693.420786
3309  Zimbabwe    Africa  1997   46.809  11404948  792.449960
3310  Zimbabwe    Africa  2002   39.989  11926563  672.038623
3311  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [ ]:
df.describe() ##Retorna dados estatisticos das colunas

In [17]:
df["continent"].unique() ##retorna valores unicos

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [ ]:
Oceania = df.loc[df["continent"] == "Oceania"] ##Criamos a variavel Oceania com todos os dados do continene Oceania
Oceania.head()

In [ ]:
df.groupby("continent")["country"].nunique() ##Agrupar por continente o numero de pais em cada continente

In [26]:
df.groupby("year")["lifeExp"].mean()##Expectativa de vida media para cada ano
df['gdpPercap'].mean() ##Media do pib

11317.115804696637